<div style="text-align:center" class="title-box" >
  <h1>
    Testes & Angular
    <h4>for DEVS</h4>
  </h1>

</div>
<div class="subtitle-box">
  <h2>Um pouco sobre testes e as ferramentas que o Angular oferece para garantir maior qualidade no desenvolvimento de aplicações.</h2>
</div>

<hr>
<div class="container" style="text-align: center">
  <div class="row">
    <div class="col-4">
      <div class="list-group">
        <a id="increaseBtn" href="increase" class="list-group-item list-group-item-action">Increase Component</a>
        <a id="shipsBtn" href="ships" class="list-group-item list-group-item-action">Ships Component</a>
      </div>
    </div>
    <div class="col-6">
      <router-outlet ></router-outlet>
    </div>
  </div>
</div>
